<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
      <!-- Styles -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
      <link rel="stylesheet" href="static\magnific-popup.css">
      <link rel="stylesheet" href="static\bootstrap.css">
      <link rel="stylesheet" href="static\styles.css">
      <link rel="stylesheet" href="static\swiper.css">
      <link rel="stylesheet" href="static\swiper.css">
      <link rel="stylesheet" href="static\fontawesome-all.css">
      <link rel="stylesheet" href="static\customerdash.css">
</head>
<body>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg  ">
    <div class="container">

        <!-- Image Logo -->
        <a class="navbar-brand" href="/"><h1>FasCars</h1></a> 
        
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#">BUY A CAR</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link page-scroll" onclick="sell()">SELL YOUR CAR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" onclick="repair()">REPAIR YOUR CAR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/userprofile">PROFILE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/logout">logout</a>
                </li>
            </ul>
        </div>
    </div> <!-- end of container -->
</nav> <!-- end of navbar -->
<!-- end of navigation -->

<!-- Services -->
<div class="cards-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="above-heading">Hello {{customer}} </div>
                <h2 class="h2-heading">What do you what to do?</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Card-->
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">BUY</div>
                        <div class="price"><span class="value">A Car</span></div>
                        <div class="divider"></div>
                        <div class="button-wrapper">
                            <button class="service-button" onclick="buy()">Buy</button>
                        </div>
                    </div>
                </div> <!-- end of card -->
                <!-- end of card -->

                <!-- Card-->
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">SELL</div>
                        <div class="price"><span class="value">YOUR Car</span></div>
                        <div class="divider"></div>
                        <div class="button-wrapper">
                            <button class="service-button" onclick="sell()">Sell</button>
                        </div>
                    </div>
                </div> <!-- end of card -->
                <!-- end of card -->

                <!-- Card-->
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">REPAIR</div>
                        <div class="price"><span class="value">YOUR Car</span></div>
                        <div class="divider"></div>
                        <div class="button-wrapper">
                            <button class="service-button" onclick="repair()">Repair</button>

                        </div>
                    </div>
                </div>  <!-- end of card -->
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of Services -->
<!-- pop up forms for buy,sell repair -->
<div id="overlay1" class="overlay" style="display:none;">
<div class="form-popup" id="repair">
    <form action="/action_page.php" class="form-container">
      <h1>repair</h1>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <button type="submit" class="btn">Submit</button>
      <button type="button" class="btn cancel" onclick="closerepair()">Close</button>
    </form>
  </div>
</div>
<div id="overlay2" class="overlay" style="display:none;">
<div class="form-popup" id="sell">
      <form action="/carupload" method="POST" class="form-container">
        <h1>sell</h1>
        <input type="text" placeholder="Enter your car name" name="carname" id="carname" required>
        <input type="number" placeholder="Enter no of years old" name="yearsold" id="yearsold" required>
        <br><br><br>
        <input type="number" placeholder="Enter Distance driven" name="distance" id-="distance" required>
        <br><br><br>
        <input type="number" placeholder="Enter Your estimated price" name="price" id="price" required>
        <br><br><br>
        <button type="submit" class="btn">Submit for verification</button>
        <button type="button" class="btn cancel" onclick="closesell()">Close</button>
      </form>
    </div>
</div>
<div id="overlay3" class="overlay" style="display:none;">
    <div class="form-popup" id="buy">
      <form action="/action_page.php" class="form-container">
        <h1>buy</h1>
    
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
    
        <button type="submit" class="btn">List</button>
        <button type="button" class="btn cancel" onclick="closebuy()">Close</button>
      </form>
    </div>
</div>

        <!-- Scripts -->
        <script src="static\js\jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
        <script src="static\js\popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
        <script src="static\js\bootstrap.min.js"></script> <!-- Bootstrap framework -->
        <script src="static\js\jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
        <script src="static\js\jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
        <script src="static\js\validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
        <script src="static\js\scripts.js"></script> <!-- Custom scripts -->


        <script>
            function repair() { 
              document.getElementById("repair").style.display = "block";
              document.getElementById("overlay1").style.display = "block";
            }
            
            function closerepair() {
              document.getElementById("repair").style.display = "none";
              document.getElementById("overlay1").style.display = "none";
            }
            
            function sell() {
                
              
              document.getElementById("sell").style.display = "block";
              document.getElementById("overlay2").style.display = "block";
            }
            
            function closesell() {
              document.getElementById("sell").style.display = "none";
              document.getElementById("overlay2").style.display = "none";
            }
            
            function buy() {
              document.getElementById("buy").style.display = "block";
              document.getElementById("overlay3").style.display = "block";
            }
            
            function closebuy() {
              document.getElementById("buy").style.display = "none";
              document.getElementById("overlay3").style.display = "none";
            }
            </script>

</body>
</html>